*{
    margin: 0px;
    padding: 0px;

}
#navbar{
    /* border: 1px solid red; */
    width: 100%;
    background-color: aquamarine;
    height: 70px;
    background-color: #192133;
    position: fixed;
    display: flex;
    justify-content: space-around;
    margin-top: -111px;
    /* margin-bottom: 90px; */
}
#search{
    width: 50%;
    margin-top: 19px;
    display: flex;
   
}
#query{
     width: 100%;
     height: 30px;
}
#auth{
    margin-top: 22px;
    display: flex;
    width: 13%;
    justify-content: space-between;
}
#auth>h3{
    color: aliceblue;
}
#logo{
    margin-top: 4px;
    width: 11%;
}
#logo>img{
    width: 100%;
}
#btn{
    width: 10%;
    margin-left: 10px;
    height: 34px;
}


#con{
    /* margin-top: 30px; */
    width: 94%;
    margin: auto;
    margin-top: 108px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    background-color: #192133;
}
#con>div{
    /* border: 1px solid red; */
    margin-top: 10px;

}
#con>div>img{
    width: 100%;
    height: 410px;
    border-radius: 10px;
}
#con>div>img+p{
    text-align: center;
    color: #f9f9f9;;
    font-weight: 500;
    font-size: 20px;
    text-transform: none;
    margin-top: 5px;
    font-family: "Roboto","HelveticaNeue-Light","sans-serif";
}
#container{
    margin-top: -30px;
    background-color: #192133;
}
.lat{
    /* border: 1px solid grey; */
    width: 94%;
    margin: auto;
    margin-top: 20px;
   margin-bottom: 40px;
    /* height: 300px; */
}
#img_div{
    width: 100%;
    margin: auto;
    margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: auto;
  gap: 10px;
  cursor: pointer;
}

.lat>p{
    color: #f9f9f9;;
    font-weight: bold;
    font-size: 20px;
    text-transform: none;
    margin-bottom: 15px;
    font-family: "Roboto","HelveticaNeue-Light","sans-serif";
}
#img_div>div{
    border: 1px solid red;
}
#img{
    width: 100%;
    border-radius: 10px;
}
body{
    background-color: #192133;
}
#img_div1{
    width: 100%;
    margin: auto;
    margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: auto;
  gap: 10px;
}
#img_div2{
    width: 100%;
    margin: auto;
    margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: auto;
  gap: 10px;
}
#img_div3{
    width: 100%;
    margin: auto;
    margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: auto;
  gap: 10px;
}
#img_div4{
    width: 100%;
    margin: auto;
    margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: auto;
  gap: 10px;
}
#img_div5{
    width: 100%;
    margin: auto;
    margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: auto;
  gap: 10px;
}
#img_div6{
    width: 100%;
    margin: auto;
    margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: auto;
  gap: 10px;
}
#sandy{
    margin-left: 450px;
    margin-top: 100px;
    width: 100%;
}